<div class="row">
    <div class=" col-lg-3"></div>
    <div class=" col-lg-6">
      <%= link_to "Click here to download the file", @path_to_the_file %>
    </div>
    <div class="header col-lg-3"></div>
</div>
  