<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello <%= @friend_name %>!<br/>
      <br/>
      <%= @name %> has been invited you to join FileIrsForms.<br/>
      <br/>
      To sign up please <a href="<%= @domain_name %>users/sign_up/<%= @code %>">click here.</a>
    </p>
  </body>
</html>